 /*main settings*/
 .main > .partie{
    display: flex;
    justify-content:left;
    width: 100%;
    height: 90vh;
    justify-content: center;
}
.main > footer{
   display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
    width: 100%;
    height: 5vh;
    align-items: center;
    background-color: rgb(48, 47, 47);
}
.logo_Rézo{
    cursor:pointer;/*changes the cursor form to pointer*/
    width: 15px;
    height: 15px;
    border-radius: 5px;
    margin-right: 5px;
}
.mentions{
    margin-left: auto;
    margin-right: auto;
    padding-left: 2vh;
}
/*phonemode settings(applies only when inferior to 850px)*/
@media only screen and (max-width:850px){
    .main > footer{
        display: flex;
         justify-content: space-between;
         align-items: baseline;
         margin-top: 10px;
         width: 100%;
         height: 15vh;
         align-items: center;
         border-style: solid;
         background-color: rgb(48, 47, 47);
     }
     header > .logo{
        top:1.5%;
        left: 1.5%;
    }
    header{
        height: 12vh;
    };
    .main > .ham-menu{
        width: 200vh;
    }
}