.content {/*main settings*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: auto;
    align-content: center;
}

.gallery-item {
    float: left;
    width: 100%;
    height: 100%;
        position: relative;
    overflow: hidden;/*images that are off limit won't be shown*/
}

.slider-container {
    overflow: hidden;
}

.slide-holder {/*scroll animation settings*/
    width: 400%;
    position: relative;
    animation: scroller 10s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

.slide-holder img {
    width: 25%;
    display: inline-block;
    max-width: 25%;
    margin-right: -4px;/*Start of the image suite*/
}

/* need a step for each slide */

@keyframes scroller {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-25%);
    }
    40% {
        transform: translateX(-25%);
    }
    60% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-50%);
    }
    90% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-75%);
    }
}
/*by Adam Affou*/