/*Main settings for background and header*/
.main{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);/*enables a gradual transition between purple and blue starting from the rigth side and ending at the left side*/
} 
header{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    position:sticky;/*allows the header to follow along the page*/
    margin-bottom: 10px;
    top:0;
    padding: 0px 5%;
    background-color: rgb(48, 47, 47);
}
.Hlogo{
    cursor:pointer;
    width: 30%;
    height: 30%;
    margin-left: 20px;
}
.nav_links{
    list-style: none;
    margin-left: auto;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}
.nav_links li a:hover{
    color:#0088a9;
    font-size:170%;
}
button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169,1);
    color:white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    align-items: flex-end;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169,0.8);
}
