/*variable assignements*/
:root{
    --bg-color:rgb(48, 47, 47);
    --font-color:rgb(220, 220, 220);
}
/*Page 1 main structure settings*/
main.P1{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 0.8fr;
    grid-template-rows: 1.4fr 0.8fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    "interactive-menu interactive-menu interactive-menu"
    "e1 e1 e2"
    "e1 e1 e3";
}
main > #interactive-menu{
    grid-area:interactive-menu;
    border-radius: 10px;
    background-color: var(--bg-color);
    color:var(--font-color);
    font-size: 250%;
    padding: 30px;
}
#e1 > h4{
    padding: 30px;
    color: white;
}
#e1{
    grid-area:e1;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 190%;
    padding: 40px;
    color:var(--font-color);
}
#e2{
    display: flex;
    border-style: solid;
    grid-area: e2;
    border-radius: 10px;
    background-color: var(--bg-color);
    align-items: center;
}
#e3{
    border-style: solid;
    grid-area: e3;
    border-radius: 10px;
    background-color: var(--bg-color);


}
.Ptext{
    color:var(--font-color);
    font-size: 230%;
    padding: 30px;
}
/*Page 2 general structure settings*/
main.P2{
    display: grid;
    height: 130vh;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    "P2a P2a ."
    ". P2b P2b"
    "P2c P2c ."; 
}
#P2a{
    grid-area: P2a;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 150%;
    padding: 40px;
    color:var(--font-color);
}
#P2b{ 
    grid-area: P2b;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 180%;
    padding: 40px;
    color:var(--font-color);
}
#P2c{
    grid-area: P2c;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 220%;
    padding: 40px;
    color:var(--font-color);
}
/*Page 3 general structure settings*/
main.P3{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-template-areas: 
    "P3a P3a P3a"
    "P3b P3c P3d";
    justify-items: center;
}
#P3a{
    grid-area: P3a;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 210%;
    padding: 40px;
    color:var(--font-color);
    overflow: scroll;
    overflow-x: hidden;
}
#P3b{
    grid-area: P3b;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 180%;
    padding: 40px;
    color:var(--font-color);
}
#P3c{
    grid-area: P3c;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 180%;
    padding: 40px;
    color:var(--font-color);
}
#P3d{
    grid-area: P3d;
    border-radius: 10px;
    background-color: var(--bg-color);
    font-size: 180%;
    padding: 40px;
    color:var(--font-color);
}
.text{
    font-size: 150%;
    color:var(--font-color);
}
.logo{
    height: 60%;
    width: 90%;
    padding-left: 30px;
}
/*progressive percentage settings*/
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  div.percentage {
    transition: --num 5s;
    counter-set: num var(--num);/*sets the transition speed and font settings*/
    font: 800 700% system-ui;
  }
  div.percentage::after {
    content: counter(num);/*counting function, starts to hount once hovering over the object*/
  }
  div.percentage:hover {
    --num: 87;/*limit*/
  }
/*phonemode settings(applies only when inferior to 1000px)*/
@media only screen and (max-width:1000px){
    main{
        height:130vh;
        grid-template-columns:1fr;
        grid-template-rows: 2fr 1.5fr 1fr 1fr;
        grid-template-areas: "interactive-menu"
        "e1"
        "e2"
        "e3";
        gap: 0.5rem
    }
    main > #interactive-menu{
        font-size: 170%;
        padding: 10px;
    }
    #e1{
        font-size: 130%;
        padding: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }
    div.percentage {
        font: 800 300% system-ui;
    }
    main.P2{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border-style: solid;
        gap: 2rem;
        grid-template-areas: 
        "P2a"
        "P2b"
        "P2c";
    }
    #P2a{
        font-size: 150%;
        padding: 40px;
        overflow: scroll;
        overflow-x: hidden;
    }
    #P2b{ 
        font-size: 180%;
        padding: 10px;
    }
    #P2c{
        font-size: 190%;
        padding: 10px;
    }
    main.P3{
        display: grid;
        height: 150vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
        grid-template-areas: 
        "P3a P3a "
        "P3b P3c"
        "P3d .";
        justify-items: center;
    }


}
@media only screen and (max-width:700px){
    main.P3{
        display: grid;
        height: 210vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.8fr 0.8fr 0.8fr;
        gap: 2rem;
        grid-template-areas: 
        "P3a"
        "P3b"
        "P3c"
        "P3d";
        justify-items: center;
    }
}